.jokeViewer {
    max-width: 800px;
    padding-top: 24px;
    width: 90vw;
}

header {
    align-items: center;
    border-bottom: #ccc solid;
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    justify-content: space-between;
}
input[type="button"] {
    background-color: #26a;
    border: none;
    border-radius: 32px;
    box-shadow: #444 3px 3px 6px;
    color: #fff;
    cursor: pointer;
    font-size: 14pt;
    height: 64px;
    line-height: 1;
    min-width: 240px;
    padding: 24px;
}
input[type="button"]:hover {
    background-color: #28c;
}
input[type="button"].mainButton {
    background-color: #55aa55;
    border: none;
    border-radius: 32px;
    box-shadow: #444 3px 3px 6px;
    color: #fff;
    cursor: pointer;
    font-size: 14pt;
    height: 64px;
    line-height: 1;
    padding: 24px;
}
input[type="button"].mainButton:hover {
    background-color: #55cc55;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
}

.loading, .error {
    font-weight: 600;
    text-transform: uppercase;
}
.loading {
    color: #444;
}
.error {
    color: #c44;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
div.setup, div.punchline {
    align-items: center;
    animation: fadeIn 2000ms;
    display: flex;
    height: 100px;
    position: relative;
    width: 100%;
}
div.setup p, div.punchline p {
    padding: 0 40px;
}
div.setup {
    justify-content: start;
}
div.punchline {
    justify-content: end;
}

svg {
    color: #e6e6f0;
    font-size: 100px;
    position: absolute;
    z-index: -1;
}
